{{ $page := .page }}

<!-- Custom widget -->
<div class="row">


  <div class="col-xs-12 col-md-4 section-heading">
    {{ if $page.Title }}
      <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ end }}

  </div> <!-- col-xs-12 col-md-4 -->

  <div class="col-xs-12 col-md-8">
    {{ $page.Content }}
    <!-- ADAPTED FROM about.html -->
	<div class="row" style="margin-bottom: 10px;">
<ol>
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
	<li><b><font color="#4caf50">Author 1</font></b>, and Author 2. <b><font color="#BD081C">"Title of the paper."</font></b> <a href="https://www.journals.elsevier.com/" target="_blank"><font color="#3b5998">Journal Name"</font></a> Volume (Year): Page nos.
      <a class="btn btn-primary btn-outline btn-xs" href="https://doi.org/" target="_blank">
        <b><font size="+0.1">DOI</font></b>
      </a></li><br />
</ol>
	</div> <!-- row -->
